section{
    &.topContent{
        text-align:center;
        height: 250px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 20px 23px -20px rgba(100, 100, 100, 0.25);
        margin-top:100px;
        .startButton{
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 35px;
            color: #FFFFFF;
            width: 161px;
            height: 35px;
            background: #FF5A5F;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            margin:0px auto;
        }
    }
    &.bottomContent{
        margin-top:75px;
        display:flex;
        justify-content: center;
        width: 100%;
        background: #FFFFFF;
        div{
            box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width: 300px;
            height: 180 px;
            margin:0px 125px;
            padding-top:20px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 45px;
        }
    }
}
.icon{
    margin-top:20px;
    font-size:75px;
    color:#FF5A5F;
}

a{
    color:#FF5A5F;
    text-decoration:none;
}