
.login-form{
  z-index: 9;
  display: flex;
  position:relative;
  flex-direction: column;
  height: 400px;
  margin: 0 auto;
  margin-top: 110px;
  width: 37%; 
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
 
  background-color: rgb(255, 90, 95, .95);
  color: white;
  font-family: Raleway;
  font-size: 1.5rem;
  }

  .z-index{
    left: -4%;
    top: 18%;
    z-index:0;
    position: absolute;
  }

  .element-login-form{
    z-index: 19;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 3%;
  }
  
  .login-form input{
    z-index: 19;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    width: 10rem;
    height: 1rem;
    padding: 4px;
  }

  .login-form button{
    z-index: 19;
    margin-top: 5%;
    margin-bottom: 5%;
    
  }

  .redirect{
    z-index: 19;
    margin-bottom: 5%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }

  .redirect a{
    z-index: 19;
    color: white;
    font-size: 14px;
  }

  .login-button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgb(255, 255, 255);
    color: rgb(255, 90, 95);
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    width: 130px;
    border: 5px solid rgb(255, 90, 95, .95);
  }

  .login-button:hover{
    cursor: pointer;
    border: 5px solid rgb(227, 67, 72);
  }

  .linking{
    line-height: 30px;
    background-color: rgb(227, 67, 72);
    padding: 2px;
    border-radius: 10px;
    width: 130px;
  }

  p{
    font-size: 15px;
    line-height: 18px;
  }