.welcome{
    width: 100%;
    height: 386px;
    object-fit:contain;
    background-image: url('../../img/thanos-pal-VFBN6K0BCOA-unsplash.jpg');
    background-size: cover;
    border:1px solid rgba(255,255,255,1);
    .addProp{
        margin:0px auto;
        margin-top: 360px;
        width:300px;
        height:50px;
        line-height:50px;
        background:#FF5A5F;
        border-radius:20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color:white;
    }
    .addProp:hover{
        cursor:pointer;
    }
}

.property-list-grid-view{

    .container{ 
        width:100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-start;


    }
}