header{
    position: absolute;
    width: 1440px;
    height: 129px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);

    nav{
        display:flex;
        justify-content: space-between;
        color:#FF5A5F;
        a{
            text-decoration:none;
            color:#FF5A5F;
        }
        .leftNav{
            width:60%;
            text-align:left;
            margin-left:54px;
        }
        .rightNav{
            width:40%;
            display:flex;
            justify-content: flex-end;
            margin-right:60px;
            h2{
                margin-left:39px;
            }

        }
    }
}