.property-list-grid-view {
    display: flex;
    justify-content: center;
    margin-top:30px;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
}

h6 {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 0.74rem;
}

/* Property Card */


.cardStyle {
    background-image: url('https://media.timeout.com/images/105404217/630/472/image.jpg');
    background-size: 430px 210px;
    background-repeat: no-repeat;
    height: 400px;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: left;
    line-height: 0.6cm;
    font-size: 0.8rem;
    font-weight: bold;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
    color:#484848;
    margin: 25px auto;
    padding: 210px 55px 0% 55px;


    .amenities {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    .room_type {
        color: #767676;
    }

    .neighborhood {
        font-size: 1.8rem;
        margin: 3% 0;
    }
    .title{
        padding-top:5px;
        padding-bottom:5px;
        height: 15px;
        font-size: .4rem;
    }

    .bedrooms{
        padding-top:5px;
        padding-bottom:10px;
    }

    .pricecompare {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        color: white;
        font-size: 0.6rem;

        .pricebox {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        height: 100px;
        width: 100px;
        background-color: #FF5A5F;
        border-radius: 20px;
        margin: 0px 20px 10px;
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.19);
        }
        .buttonBox {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            height: 25px;
            width: 100px;
            background-color: #FF5A5F;
            border-radius: 20px;
            margin: 0px 20px 10px;
            box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.19);
            }

        .title {
        top: 40px;    
        }
    }
    .flex{
        display:flex;
        justify-content:space-between;
    }
    .reviews {
        margin: 5px 0;
    }
  }
